/* body{
    /* overflow-y: hidden; */
    /* padding: 0px;
    margin: 0px; */
    /* scroll-behavior: smooth; */

::-webkit-scrollbar{
   width: 7px;
   /* height:1px; */
}
::-webkit-scrollbar-track{
    background-color:#cfcfcf;
}
::-webkit-scrollbar-thumb{
    background-color:#a5a5a5;
}
*{
    text-decoration: none;
}